<ion-content #ionContent [fullscreen]="true">
    <ion-list>
        <virtual-scroller
            #scroll
            [items]="dataList"
            (vsStart)="loadBefore($event)"
            (vsEnd)="loadAfter($event);"
        >
            <ion-item *ngFor="let item of scroll.viewPortItems" [class.currentPost]="item.name == postId"
                      (click)="openInBrowser(item.url)">
                <ion-avatar slot="start">
                    <img src="{{item.thumbnail}}">
                </ion-avatar>
                <ion-label>
                    <h2>{{item.title}}</h2>
                </ion-label>
            </ion-item>
        </virtual-scroller>
    </ion-list>
</ion-content>
